html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgb(41, 41, 41);
}

.container-fluid {
    padding: 0;
    height: 100%;
}

.text {
    background: rgb(41, 41, 41);
    height: 65%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px 10px;
    font-size: 80%;
    width: 90%;
    float: left;
    transition: 0.3s;
}
.text.full {
    width: calc(100% - 18px);
}
.text .line {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 50px;
}
.text .title {
    width: 100%;
    display: inline-block; /* 吃自己的現在的長寬 */
    padding: 5px;
    font-size: 15px;
    color: #FFF;
    letter-spacing: 2px;
}

.toolbox {
    background-color: rgb(50, 50, 50);
    height: 65%;
    width: 10%;
    float: left;
    padding: 15px 5px 5px 18px;
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    position: absolute;
    right: 0;
    transition: transform 0.3s;
}
.toolbox #toolbox-btn {
    position: absolute;
    top: 50%;
    left: 0;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(50, 50, 50);
    width: 18px;
    height: 100%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s;
}
.toolbox #toolbox-btn:hover {
    opacity: 0.6;
}
.toolbox #toolbox-btn::before {
    content: '▶';
    display: inline-block;
    height: 40px;
    text-align: center;
    font-size: 12px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;
    transition: 0.3s;
}
.toolbox.closed {
    transform: translateX(calc(100% - 18px));
}
.toolbox.closed #toolbox-btn::before {
    transform: rotate(180deg);
    transition-delay: 0.2s
}
.toolbox .toolbutton {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: #FFF;
    text-align: center;
    padding: 7px 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.3s;
}
.toolbox .toolbutton:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.toolbox .toolbutton.selected {
    background: rgba(255, 255, 255, 0.1);
}

.guitar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35%;
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: #000;

    /* 消除子元素 inlic-block 的上下間隔 */
    line-height: 0;
}
.guitar .chord {
    /* 依照內容決定寬度 */
    width: auto; 
    display: inline-block;

    /* 子元素不換行 */
    white-space: nowrap;

    height: calc(100% / 6);
    position: relative;
    background-color: rgb(47, 38, 34);
}
.guitar .chord::before {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.guitar .chord:nth-of-type(1)::before { height: 2px; }
.guitar .chord:nth-of-type(2)::before { height: 3px; }
.guitar .chord:nth-of-type(3)::before { height: 4px; }
.guitar .chord:nth-of-type(4)::before { height: 3px; }
.guitar .chord:nth-of-type(5)::before { height: 4px; }
.guitar .chord:nth-of-type(6)::before { height: 5px; }

.guitar .chord.bass::before { background-color: #999; }
.guitar .chord.treble::before { background-color: rgba(98, 85, 80); }

.guitar .chord .grid {
    border-left: 5px solid rgba(255, 255, 255, 0.3);
    height: 100%;
    display: inline-block;
    /* background-color: rgb(47, 38, 34); */
    transition: 0.3s;
    position: relative;
}

.guitar .chord .grid:nth-of-type(1) { width: 40px; background-color: rgba(255, 255, 255, 0.8); }
.guitar .chord .grid:nth-of-type(2) { width: 150px; }
.guitar .chord .grid:nth-of-type(3) { width: 150px; }
.guitar .chord .grid:nth-of-type(4) { width: 150px; }
.guitar .chord .grid:nth-of-type(5) { width: 130px; }
.guitar .chord .grid:nth-of-type(6) { width: 130px; }
.guitar .chord .grid:nth-of-type(7) { width: 130px; }
.guitar .chord .grid:nth-of-type(8) { width: 110px; }
.guitar .chord .grid:nth-of-type(9) { width: 110px; }
.guitar .chord .grid:nth-of-type(10) { width: 110px; }
.guitar .chord .grid:nth-of-type(11) { width: 90px; }
.guitar .chord .grid:nth-of-type(12) { width: 90px; }
.guitar .chord .grid:nth-of-type(13) { width: 90px; }
.guitar .chord .grid:nth-of-type(14) { width: 80px; }
.guitar .chord .grid:nth-of-type(15) { width: 80px; }
.guitar .chord .grid:nth-of-type(16) { width: 80px; }
.guitar .chord .grid:nth-of-type(17) { width: 70px; }
.guitar .chord .grid:nth-of-type(18) { width: 70px; }
.guitar .chord .grid:nth-of-type(19) { width: 70px; }
.guitar .chord .grid:nth-of-type(20) { width: 60px; }
.guitar .chord .grid:nth-of-type(21) { width: 60px; }
.guitar .chord .grid:nth-of-type(22) { width: 60px; }

.guitar .chord .grid:hover {
    background-color: rgb(255, 255, 255, 0.5);
}

.guitar .chord .grid span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
}

/* .guitar .chord .grid::before {
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    border-radius: 100px;
} */


.loading {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
}

.loading img {
    position: absolute;
    width: 10%;
    top: 40%;
    left:50%;
    transform: translateY(-50%); /* 扣掉自己的 50% 高度 */
    transform: translateX(-50%); /* 扣掉自己的 50% 高度 */
}

* {
    /* 不能反白 */
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
	font-family: 'Galindo', 'Noto Sans TC', cursive;
}